#contato {
    align-items: center;
    background-color: var(--azul10);
    display: flex;
    flex-direction: column;
    gap: .625rem;
    padding: 4rem;
}

.container__contato {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    height: 660px;
    justify-content: center;
    padding: 4rem 0 0;
    width: 1136px;
}

.container__contato--imagem {
    background: url(../Img/contato/telefone.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 615px;
    width: 464px;
}

.container__contato--conteudo {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    width: 656px;
}

.conteudo__introducao {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.container__contato--titulo {
    color: var(--preto100);
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.375rem;
}

.container__contato--texto {
    font-size: 1rem;
    font-weight: 500;
}

.container_formulario {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
}

.formulario__campos {
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: 56px;
    position: relative;
}

.formulario__campos:nth-last-of-type(1) {
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: 133px;
    position: relative;
}

.formulario__campos label {
    background-color: var(--branco);
    color: var(--preto50);
    font-size: 1rem;
    font-weight: 400;
    left: 8px;
    position: absolute;
    top: 20px;
    transition: all .4s;
}

.formulario__campos:nth-last-of-type(1) label {
    position: absolute;
    transition: all .4s;
}

::placeholder {
    visibility: hidden;
}

.formulario__campos input {
    background-color: var(--branco);
    border-bottom: 1px solid var(--preto30);
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 400;
    height: 56px;
    outline: none;
    resize: none;
    padding: 1.8rem .5rem 0rem;
    width: 656px;
}

.formulario__campos textarea {
    background-color: var(--branco);
    border-bottom: 1px solid var(--preto30);
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 400;
    height: 133px;
    outline: none;
    resize: none;
    padding: 1.8rem .5rem 0rem;
    width: 656px;
}

.campo-em-foco label {
    top: 9px;
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--azul100);
}

.formulario__campos input:focus-within, .formulario__campos textarea:focus-within {
    border-bottom: 2px solid var(--azul100);
}

.formulario__campos span {
    visibility: hidden;
}

.formulario__campos.erro {
    border: 2px solid var(--erro);
    border-radius: 4px;
    height: 60px;
}

.formulario__campos.erro:nth-last-of-type(1) {
    border: 2px solid var(--erro);
    border-radius: 4px;
    height: 137px;
}

.formulario__campos.erro span {
    animation: chacoalha .5s ease-in-out infinite;
    color: var(--erro);
    font-size: 1rem;
    font-weight: bold;
    visibility: visible;
}

.botao__enviar.campo-com-erro {
    opacity: .5;
}

.botao__enviar {
    background-color: var(--azul100);
    color: var(--branco);
    cursor: pointer;
    font-size: 1rem;
    height: 55px;
    order: 2;
    padding: 1rem;
    transition: .5s;
    width: 165px;
}

.botao__enviar:hover {
    background-color: var(--azul80);
}

.seta-cima {
    animation: deslizaCima 900ms ease-in-out infinite;
    bottom: 250px;
    font-size: 5rem;
    position: absolute;
    right: -280px;
}

.seta-cima a,
.seta-cima a:visited {
    color: var(--azul100);
    opacity: 1;
    transition: .5s;
}

.seta-cima a:hover {
    opacity: .7;
}
/* Tablet */
@media screen and (max-width: 768px) {
    #contato {
        padding: 2rem;
    }

    .container__contato {
        flex-direction: column;
        gap: .625rem;
        padding: 0;
        width: 704px;
    }
    
    .container__contato--imagem {
        display: none;
    }

    .container__contato--conteudo {
        gap: 2rem;
        width: 704px;
    }

    .container__contato--titulo {
        font-size: 1.375rem;
    }
    
    .container__contato--texto {
        font-size: 1rem;
    }

    .formulario__campos input {
        width: 704px;
    }

    .formulario__campos textarea {
        width: 704px;
    }
    
    .botao__enviar {
        font-size: .875rem;
        height: 40px;
        padding: .75rem 1rem;
        width: 151px;
    }

    .seta-cima {
        bottom: -65px;
        right: 15px;
    }
}


/* Celular */
@media screen and (max-width: 375px) {
    #contato {
        padding: 2rem;
        width: auto;
    }

    .container__contato {
        gap: 2rem;
        height: auto;
        justify-content: flex-start;
        width: 296px;
    }

    .container_formulario {
        width: 296px;
    }
    
    .container__contato--conteudo {
        gap: 2rem;
        width: 296px;
    }
    
    .formulario__campos input {
        width: 296px;
    }

    .formulario__campos textarea {
        width: 296px;
    }

    .seta-cima {
        bottom: -40px;
        font-size: 4rem;
        right: -10px;
    }
}

@keyframes chacoalha {
	25% {
		transform: translateY(4px);
	}
	50% {
		transform: translateX(-4px);
	}
	75% {
		transform: translateY(4px);
	}
}

@keyframes deslizaCima {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-25px);
    }
    100% {
        transform: translateY(0);
    }
}